<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
</head>
<body>
    <div id="svg"></div>
    <script>
        const height=400;
        const width=400;
        const svg=d3.select("#svg").append("svg").attr("height",height).atter("width":width);
<path d="M153 334

C153 334 151 334 151 334
C151 339 153 334 156 334
">
    </script>

</body>
</html>